
  
  
  
  .dashboard {
    display: flex;
    /* margin: 90px auto; */
    background-color: #F8F8FD;
    max-width: 1500px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.1); 
    box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.1);
    font-weight: light;
    overflow-y: auto;
    min-height: 100vh;
  }
  #Container {
    height: 70vh;
    width: 100%;
    flex-direction:inherit;
    margin: 50px;
    
    
}
#Balance{
  background-image: linear-gradient(122deg, #c1dbe9, #f596b6);
  border-radius: 0 4px 4px 0;

}


#btn-save{
      background-image: linear-gradient(122deg, #c1dbe9, #f596b6);
      border-radius: 0 4px 4px 0;



}
  .sidebar {
    box-sizing: border-box;
    width: 300px;
    background-color: #E9E9EF;
    min-height: 100vh;
    padding: 30px;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    overflow-y: auto;
    
  }
  
  .menu {
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
  }
  .menu li {
    margin: 7px 0;
  }
  .menu .active, .menu a:hover {
    background-color: #ffffff;
    margin-left: -30px;
    padding-left: 30px;
    border-radius: 0 4px 4px 0;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.05);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.05);
  }
  .menu a {
    text-decoration: none;
    font-weight: bold;
    color: #757588;
    display: block;
    padding: 10px 0;
  }
  .menu i {
    margin-right: 10px;
    vertical-align: top;
    padding-top: 1.5px;
  }
  .menu .active i, .menu .active a, .menu i:hover, .menu a:hover {
    color: #6C75FF;
  }
  
  /*CONTENT*/
  .content {
    width: 996px;
    box-sizing: border-box;
    height: 100%;
    padding: 20px 30px;
    display: inline-block;
    vertical-align: top;
  }
  
 
  
  
  
  /*-----COLUMNS-----*/
  .col1 {
    width: 1000px;
    display: inline-block;
  }
 
  .col1 .box {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.05); 
    box-shadow: 0px 0px 40px 1px rgba(0,0,0,0.05);
  }
  .col1 .box {
    margin: 15px 10px 15px 0;
    height: 700px;
  }
 

   
  

  .table th, .table td {
    text-align: center; /* Zentriert den Text in den Zellen */
    vertical-align: middle; /* Zentriert den Inhalt vertikal */
  }
  
  .settings-section {
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .settings-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #007bff;
  }

  #completedOrdersTable{
   margin-top: 20px;
    
  }
  .nav-tabs {
    padding-bottom: 20px; /* Fügt Platz unter der Tab-Leiste hinzu */
}

  
  .container {
    width: 70%;
    
  }


  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
  }
  
  .form-control:disabled {
    background-color: #e9ecef;
    color: #6c757d;
  }
  
  .form-check-input {
    width: 20px;
    height: 20px;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-success:hover {
    background-color: #218838;
    color: #fff;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .shadow-sm {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 1rem;
    font-weight: 500;
    color: #495057;
  }
  
  .d-flex {
    display: flex;
    align-items: center;
  }
  
  .gap-3 {
    gap: 1rem;
  }
  
/* Custom Navbar Tabs */
.custom-nav {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 20px;
  gap: 20px;
}

.custom-tab {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #444;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.custom-tab::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.custom-tab:hover {
  color: #000;
}

.custom-tab.active {
  color: #000;
}

.custom-tab.active::after {
  background-color: #007bff; /* Blau für die aktive Linie */
}

.bg-light {
  background-color: #f8f9fa !important;
}
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}
.text-primary {
  color: #007bff !important;
}

.text-success {
  color: #d42507 !important;
}


.content {
  width: 75%;
  height: 20px;
  background-color: lightgray;
}

@media screen and (max-width: 1000px) {
  .main-stats {
    flex-direction: column;
  }

  .stat-item {
    margin-bottom: 16px;
  }

  .stat-item:last-of-type {
    margin-right: 16px;
  }
}

.main-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 24px;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 24px;
}

.stat-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 4px;
  flex: 1;
  max-width: 160px;
  width: 20%;
  padding: 8px;
  margin-right: 16px;
}

.stat-item:last-of-type {
  margin-right: 0;
}

.material-icons {
  font-size: 32px;
  padding: 8px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.8);
  color: white;
  margin-right: 16px;
}

.material-icons.blue {
  background-color: #1dcaff;
}

.material-icons.green {
  background-color: #7ab97a;
}

.material-icons.red {
  background-color: #db3434;
}

.material-icons.yellow {
  background-color: #ffd700;
}

.counter {
  display: flex;
  flex-direction: column;
}

.counter .count {
  font-size: 18px;
  font-weight: bold;
}

.counter .description {
  color: darkgray;
  font-size: 14px;
}

/* Gewinn */






/* Common Class */

.mb-50{margin-bottom: 50px;}


.font-18{font-size: 18px; line-height: 1.6em;}


.weight-500{font-weight: 500;}


.text-blue{color: #1b00ff;}
.text-dark{color: #000000;}
.text-white{color: #ffffff;}
.height-100-p{height: 100%;}
.bg-white{background: #ffffff;}
.border-radius-10{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.border-radius-100{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.box-shadow{
	-webkit-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	-moz-box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
	box-shadow: 0px 0px 28px rgba(0, 0, 0, .08);
}



/* widget style 1 */

.widget-style1{
	padding: 20px 10px;
}
.widget-style1 .circle-icon{
	width: 60px;
}
.widget-style1 .circle-icon .icon{
	width: 60px;
	height: 60px;
	background: #ecf0f4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.widget-style1 .widget-data{
	width: calc(100% - 150px);
	padding: 0 15px;
}
.widget-style1 .progress-data{
	width: 90px;
}
.widget-style1 .progress-data .apexcharts-canvas{
	margin: 0 auto;
}

.widget-style2 .widget-data{
	padding: 20px;
}

.widget-style3{
	padding: 30px 20px;
}
.widget-style3 .widget-data{
	width: calc(100% - 60px);
}
.widget-style3 .widget-icon{
	width: 60px;
	font-size: 45px;
	line-height: 1;
}

.apexcharts-legend-marker{
	margin-right: 6px !important;
}
#gradient-style{
 background-image:  linear-gradient(122deg, #c1dbe9, #f596b6);
 width: 30%;
}

.no-orders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.no-orders-message {
  text-align: center;
  color: #6c757d; /* Dunkelgrau für subtilen Text */
}

.no-orders-message i {
  color: #007bff; /* Bootstrap Primärfarbe */
  margin-bottom: 10px;
}

.no-orders-message p {
  font-size: 16px;
  font-weight: 500;
}
.status-accepted {
  color: #ffc107; /* Gelb für laufende Bestellungen */
}
.status-completed {
  color: #28a745; /* Grün für abgeschlossene Bestellungen */
}
.status-cancelled {
  color: #dc3545; /* Rot für stornierte Bestellungen */
}

