







<div class="dashboard">

  <div class="sidebar">
    <a class="navbar-brand" href="#" id="logo">
          <img src="../../assets/Logo.png" alt="Logo" width="45" height="44" class="d-inline-block align-text-top">
          <span class="brand-text ">Lieferpatz</span>
        </a>
    <div class="my-2">
              <ul class="menu">
                  <li>
                      <a (click)="setActiveSection('menu-management')">
                            <i class="fa fa-list-alt" ></i>Menu Management
                      </a>
                 </li>

                 <li>
                  <a (click)="setActiveSection('activeOrders')">
                        <i class="fa fa-cart-arrow-down" ></i> active Orders
                  </a>
                </li>
                
                  <li>
                    <a (click)="setActiveSection('ordersHistory')">
                          <i class="fa fa-history" ></i>order history
                    </a>
                  </li>

                  <li>
                    <a (click)="setActiveSection('setting')"><i class="fas fa-cog">

                    </i>Settings</a>
                  </li>

              </ul>

              
     </div>
     
     <button routerLink="/partner" routerLinkActive="active" class="btn btn-outline-danger mt-auto" id="Logout-Button">Logout</button>
    
  </div>


<section *ngIf="activeSection === 'menu-management'" id="Container" class="p-5">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
Add Item
</button>
<hr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new item to Menu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="item needs-validation" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)" novalidate>
              <label for="itemName">Item Name</label>
              <input type="text" name="itemName" class="form-control" id="itemName" [(ngModel)]="item.name" required />
              
              <label for="itemPrice">Item Price</label>
              <input type="text" name="itemPrice" class="form-control" id="itemPrice" [(ngModel)]="item.preis" required/>
            
              <label for="image">Choose an Image</label>
              <input type="file" name="image" accept="image/*" class="form-control" id="image" [(ngModel)]="item.imageUrl" required (change)="onFileSelected($event)"/>
              

            

                <label for="beschreibung">Description</label>
                <textarea name="beschreibung" class="form-control" id="beschreibung" [(ngModel)]="item.beschreibung"></textarea>
            

            
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </form>
      </div>
    
    </div>
  </div>
</div>



   

  <div class=" d-flex flex-wrap " id="ItemContent">
    <div *ngFor="let item of items" class="card m-2" style="width: 18rem;">
      <img [src]="item.imageUrl" class="card-img-top">
      <div class="card-body">
      
         <ul >
          <h5 class="card-title"><strong class="inf me-3 ms-0">Name:</strong>{{item.name}}</h5>
          <p class="card-text"><strong  class="inf me-3">Description:</strong>{{item.beschreibung}}</p>
          <p class="card-text"><strong  class="inf me-3">Price:</strong>{{item.preis}}€</p>


         </ul>      
             
      
        
        <div class="btn-container">
          <button class="btn btn-primary" (click)="editItem(item)"data-bs-target="#editItemModal">Edit</button>
          <button class="btn btn-danger ms-2" (click)="deleteItem(item)">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Item Modal -->
<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editItemModalLabel">Edit Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="itemName" class="form-label">Name</label>
            <input type="text" class="form-control" id="itemName" [(ngModel)]="selectedItem.name" name="name">
          </div>
          <div class="mb-3">
            <label for="itemDescription" class="form-label">Description</label>
            <textarea class="form-control" id="itemDescription" [(ngModel)]="selectedItem.beschreibung" name="description"></textarea>
          </div>
          <div class="mb-3">
            <label for="itemPrice" class="form-label">Price</label>
            <input type="number" class="form-control" id="itemPrice" [(ngModel)]="selectedItem.preis" name="price">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="updateItem()">Save changes</button>
      </div>
    </div>
  </div>
</div>



   


</section> 

    <!-- Button trigger modal -->

    
    
 
 <section *ngIf="activeSection === 'activeOrders'"  id="Container" class="p-5">
  <div class="row "  >
  
		
		<div class="col-xl-3 mb-50" style="width: 100%; ">
      <div class="box-shadow border-radius-10 height-100-p widget-style1" id="gradient-style">
        <div class="d-flex flex-wrap align-items-center">
          <div class="circle-icon">
            <div class="icon border-radius-100 font-24 text-blue">
              <i class="fa fa-euro-sign" aria-hidden="true"></i>
            </div>
          </div>
          <div class="widget-data d-flex align-items-center">
            <div class="weight-500 me-3">Balance:</div>
            <div class="weight-800 font-18">{{restaurantBalance}}€</div>
          </div>
          <div class="progress-data">
            <div id="chart4"></div>
          </div>
        </div>
      </div>
    </div>
    

	</div>

 <tr></tr>
  <div >
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" >Active Order</a>
      </li>
    </ul>
    <div *ngIf="pendingOrders.length > 0; else noOrdersTemplate">
    
        <div class="container bg-light rounded shadow p-5" id="Container" style="height: auto;">
          <table class="display" style="width:100%" id="pendingOrdersTable">
            <thead>
              <tr>
                <th scope="col">Order Id</th>
                <th scope="col">Kundenname</th>
                <th scope="col">Lieferadresse</th>
                <th scope="col">Gesamtpreis</th>
                <th scope="col">Bestellzeitpunkt</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of pendingOrders">
                <td>{{ order.id }}</td>
                <td>{{ order.kundeName }}</td>
                <td>{{ order.lieferAdresse }}</td>
                <td>{{ order.gesamtpreis }}</td>
                <td>{{ order.bestellzeitpunkt | date: 'short' }}</td>
                <td>
                  <div class="row">
                    <div class="col">
                      
                        <i (click)="acceptOrder(order)" class="fa-solid fa-circle-check fa-lg" style="color: #63E6BE;"></i>
      
                      
                    </div>
                    <div class="col">
                    
                        <i (click)="declineOrder(order)" class="fas fa-times fa-lg" style="color: #e90909;"></i>
      
                    
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

  </div>
  
  


    
 </section>

 <ng-template #noOrdersTemplate>
  <div class="no-orders-container" >
    <div class="no-orders-message">
      <i class="fas fa-box-open fa-2x"></i> <!-- FontAwesome Icon -->
      <p>No current orders.</p>
    </div>
  </div>
</ng-template>
  <!-- Button trigger modal -->

  
 

  

<section *ngIf="activeSection === 'ordersHistory'" id="Container" class="p-5">

    
 
   
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" >Order History</a>
      </li>
    </ul>
    <div  class="container bg-light rounded shadow p-4" id="Container" style="height: auto;">
      <table class="display" style="width:100%" id="completedOrdersTable">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Kundenname</th>
          <th scope="col">Lieferadresse</th>
          <th scope="col">Gesamtpreis</th>
          <th scope="col">Bestellzeitpunkt</th>
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of completedOrders">
          <td>{{ order.id }}</td>
          <td>{{ order.kundeName }}</td>
          <td>{{ order.lieferAdresse }}</td>
          <td>{{ order.gesamtpreis }}</td>
          <td>{{ order.bestellzeitpunkt | date: 'short' }}</td>
          <td [ngClass]="getStatusClass(order.status)">{{ order.status }}</td>
          <td>
            <button class="btn btn-info" (click)="openDetailsModal(order)">Details</button>
          </td>
        </tr>
        
      </tbody>
    </table>
    
    </div>
  
    
  </section>

  <div class="modal fade" id="orderDetailsModal" tabindex="-1" aria-labelledby="orderDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <strong>Items:</strong>
          <ul>
            <li *ngFor="let item of selectedOrder?.bestellungItems">{{ item.quantity }}x {{ item.itemLabel }} </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  



  




 
  
      
<section *ngIf="activeSection === 'setting'" id="Container"  class="p-5">
  <!-- Custom Navbar -->
  <nav class="custom-nav mb-5">
    <div class="custom-nav">
      <a href="javascript:void(0)" 
         class="custom-tab" 
         [ngClass]="{'active': selectedTab === 'openingHours'}" 
         (click)="setActiveTab('openingHours')">
       Opening Hours
      </a>
      <a href="javascript:void(0)" 
         class="custom-tab" 
         [ngClass]="{'active': selectedTab === 'deliveryRadius'}" 
         (click)="setActiveTab('deliveryRadius')">
         Delivery Radius
      </a>
    </div>
    
   
    
  </nav>

  <!-- Update Opening Hours -->
  <div *ngIf="selectedTab === 'openingHours'" class="container bg-light rounded shadow p-4">
    <form (ngSubmit)="updateOpeningHours()">
      <div class="row g-4" *ngFor="let day of openingHours">
        <div class="col-md-12">
          <div class="d-flex align-items-center justify-content-between bg-white p-3 rounded shadow-sm">
            <div class="d-flex align-items-center gap-3">
              <input
                type="checkbox"
                class="form-check-input"
                id="{{ day.dayOfWeek }}Enabled"
                [(ngModel)]="day.enabled"
                name="{{ day.dayOfWeek }}Enabled"
              />
              <label class="form-label fw-bold mb-0 text-capitalize" for="{{ day.dayOfWeek }}">
                {{ day.dayOfWeek.charAt(0).toUpperCase() + day.dayOfWeek.slice(1).toLowerCase() }}
              </label>
            </div>
            <div class="d-flex gap-3">
              <input
                type="time"
                class="form-control"
                [(ngModel)]="day.openTime"
                name="{{ day.dayOfWeek }}From"
                [disabled]="!day.enabled"
              />
              <input
                type="time"
                class="form-control"
                [(ngModel)]="day.closeTime"
                name="{{ day.dayOfWeek }}To"
                [disabled]="!day.enabled"
              />
            </div>
          </div>
        </div>
      </div>
      <button type="submit" id="btn-save" class="btn btn-primary mt-4 w-100">Save Changes</button>
    </form>
  </div>
  

  <!-- Update Delivery Radius -->
  <div *ngIf="selectedTab === 'deliveryRadius'" class="container bg-light rounded shadow p-4">
    <form (ngSubmit)="updateDeliveryPlz()">
      <div class="form-group">
        <label for="deliveryRadius" class="form-label fw-bold">Delivery Radius</label>
        <input id="deliveryRadius" class="form-control" [(ngModel)]="plz" name="deliveryRadius" required />
      </div>
      <button type="submit" id="btn-save" class="btn btn-primary mt-4 w-100">Save Changes</button>
    </form>
  
    <!-- Tabelle zur Anzeige der PLZs -->
     <div > 
        <table class="table mt-4">
        <thead>
          <tr>
            <th>PLZ</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plz of deliveryPlzs">
            <td>{{ plz }}</td>
            
          </tr>
        </tbody>
      </table>
  </div>
   
  </div>
  
</section>



    




</div>


