

<div class="dashboard">
    <div class="sidebar">
      <a class="navbar-brand" href="#" id="logo">
            <img src="../../assets/Logo.png" alt="Logo" width="45" height="44" class="d-inline-block align-text-top">
            <span class="brand-text ">Lieferpatz</span>
          </a>
      <div class="my-2">
                <ul class="menu">
                    <li>
                        <a (click)="setActiveSection('menu-management')">
                              <i class="fa fa-list-alt" ></i>Menu Management
                        </a>
                   </li>

                   <li>
                    <a (click)="setActiveSection('activeOrders')">
                          <i class="fa fa-cart-arrow-down" ></i> active Orders
                    </a>
                  </li>
                  
                    <li>
                      <a (click)="setActiveSection('ordersHistory')">
                            <i class="fa fa-history" ></i>order history
                      </a>
                    </li>

                    <li>
                      <a (click)="setActiveSection('setting')"><i class="fas fa-cog">

                      </i>Settings</a>
                    </li>

                </ul>

                
       </div>

       <button class="btn btn-outline-danger mt-auto" id="Logout-Button">Logout</button>
      
    </div>


<section *ngIf="activeSection === 'menu-management'" class="p-5">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add Item
  </button>
<hr>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new item to Menu</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form class="item needs-validation" #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)" novalidate>
              <label for="itemName">Item Name</label>
              <input type="text" name="name" class="form-control" id="itemName" [(ngModel)]="item.name" required />
              
              <label for="itemPreis">Item Price</label>
              <input type="text" name="preis" class="form-control" id="itemPreis" [(ngModel)]="item.preis" required/>
             
              <label for="imageUrl">Choose an Image</label>
              <input type="file" name="imageUrl" accept="image/*" class="form-control" id="imageUrl" [(ngModel)]="item.imageUrl" required (change)="onFileSelected($event)"/>
              


              <label for="beschreibung">Description</label>
              <textarea name="beschreibung" class="form-control" id="beschreibung" [(ngModel)]="item.beschreibung"></textarea>

             
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  
                  <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </form>
      </div>
    
    </div>
  </div>
</div>



   <div class="ItemContent d-flex justify-content-start my-5 flex-wrap">
    <div *ngFor="let item of items" class="card" style="width: 18rem; margin: 10px;">
          <img [src]="item.imageUrl" class="card-img-top" >
          <div class="card-body">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">{{item.beschreibung}}</p>
          <p class="card-text">{{item.preis}}</p>
          <button class="btn btn-primary " (click)="editItem(item)">Edit</button>
          <button href="#" class="btn btn-danger ms-2" (click)="deleteItem(item)">Delete</button>
          </div>
      </div>


  </div>
</section> 

    <!-- Button trigger modal -->

    
    
 
 <section *ngIf="activeSection === 'activeOrders'" class="p-5">

    
  
<div class="container mt-3" >
  <h2>Orders</h2>
  <table class="display" style="width:100%" id="pendingOrdersTable">
    <thead>
      <tr>
        <th scope="col">Order Id</th>
        <th scope="col">Kundenname</th>
        <th scope="col">Lieferadresse</th>
        <th scope="col">Gesamtpreis</th>
        <th scope="col">Bestellzeitpunkt</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of pendingOrders">
        <td>{{ order.id }}</td>
        <td>{{ order.kundeName }}</td>
        <td>{{ order.lieferAdresse }}</td>
        <td>{{ order.gesamtpreis }}</td>
        <td>{{ order.bestellzeitpunkt | date: 'short' }}</td>
        <td>
          <div class="row">
            <div class="col">
              <button class="btn btn-success btn-sm" (click)="acceptOrder(order)">Accept</button>
            </div>
            <div class="col">
              <button class="btn btn-danger btn-sm" (click)="declineOrder(order)">Decline</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

    
 </section>

 <section *ngIf="activeSection === 'ordersHistory'" class="p-5">

    
 
    <h1>Order History</h1>
    <div class="container mt-3">
      <table class="display" style="width:100%" id="completedOrdersTable">
      <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Kundenname</th>
          <th scope="col">Lieferadresse</th>
          <th scope="col">Gesamtpreis</th>
          <th scope="col">Bestellzeitpunkt</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of completedOrders">
          <td>{{ order.id }}</td>
          <td>{{ order.kundeName }}</td>
          <td>{{ order.lieferAdresse }}</td>
          <td>{{ order.gesamtpreis }}</td>
          <td>{{ order.bestellzeitpunkt | date: 'short' }}</td>
          <td>{{ order.status }}</td>
        </tr>
      </tbody>
    </table>
    </div>
  
    
  </section>
  



 <section *ngIf="activeSection === 'setting'" class="p-5">


  
    <h1 class="mb-4">Settings</h1>
    
    <!-- Opening Hours -->
    <div class="container mt-3">
      <h3 class="mb-4">Update Opening Hours</h3>
      <form (ngSubmit)="updateOpeningHours()">
        <div class="form-group">
          <div class="row" *ngFor="let day of openingHours">
            <div class="col-3">
            <p>
              {{day.dayOfWeek.charAt(0).toUpperCase() + day.dayOfWeek.slice(1).toLowerCase()}}
            </p>
          </div>
          <div class="col">
            <p>
              from
            </p>
          </div>
          <div class="col">
            <input type="time" [id]="day.dayOfWeek" class="form-control" [(ngModel)]="day.openTime" [value]="day.openTime" [ngModelOptions]="{standalone: true}" required>
          </div>
          <div class="col">
              <p>
                to
              </p>
            </div>
            <div class="col">
            <input type="time" [id]="day.dayOfWeek" class="form-control" [(ngModel)]="day.closeTime" [value]="day.closeTime" [ngModelOptions]="{standalone: true}" required>
          </div>
            <hr class="my-4"/>
          </div>

        </div>
        <button type="submit" class="btn btn-primary" >Save Changes</button>
      </form>
    </div>
  
    <!-- Delivery Radius -->
    <div class="container mt-3">
      <h2>Update Delivery Radius</h2>
      <form (ngSubmit)="updateDeliveryRadius()">
        <div class="form-group">
          <label for="deliveryRadius">Delivery Radius (in km)</label>
          <input type="number" id="deliveryRadius" class="form-control" [(ngModel)]="deliveryRadius" name="deliveryRadius" required>
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
      </form>
    </div>
  </section>
  
      




</div>


  
  