<div class=" row" id="formContainer">
    <nav class="navbar bg-light" id="navbar">
          
      <div class="container-fluid">
    
        <a class="navbar-brand" href="#" id="logo">
          <img src="../../assets/Logo.png" alt="Logo" width="45" height="44" class="d-inline-block align-text-top">
          <span class="brand-text">Lieferpatz</span>
        </a>
    
    
        <ul class="nav justify-content-end" >
         
        
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">
              <button type="button" class="btn btn-light"> 
                  <img src="../../assets/icons8-login-32.png" alt="Logo" width="25" height="24" class="d-inline-block align-text-top">
                  <i class="bi bi-person-plus"></i> Login
              </button>
            </a>
          </li>
    
          <li class="nav-item">
              <a class="nav-link" routerLink="/partner" routerLinkActive="active">
                <button type="button" class="btn btn-light"> 
                    <img src="../../assets/icons8-company-50.png" alt="Logo" width="25" height="24" class="d-inline-block align-text-top">
                    <i class="bi bi-person-plus"></i> Join as a Partner
                </button>
              </a>
            </li>
    
          
        </ul>
        
      </div>
      
    </nav>

    <div class="d-flex align-items-center py-4 bg-white" id="mainContainer">
    
   <main class="form-signin w-100 m-auto">

      <form #signupForm="ngForm" (ngSubmit)="signup(signupForm.value)" class="needs-validation" novalidate>
        
        <h1 class="h3 mb-3 fw-normal">Create a new account</h1>
        <div class="row my-2">
        <div class="field-wrap col-6">
            <input class="form-control" type="text" id="vorname" name="vorname" placeholder="First Name" [(ngModel)]="kunde.vorname" required #vorname="ngModel">
        </div>
  
          <div class="field-wrap col-6 ">
              <input class="form-control" type="text" id="nachname" name="nachname" placeholder="Last Name" [(ngModel)]="kunde.nachname" required #nachname="ngModel">
             
            </div>
    </div>
    

          <div class="field-wrap my-2">
            <input class="form-control" type="email" id="email" name="email" placeholder="name@example.com" [(ngModel)]="kunde.email" required #email="ngModel">
            
          </div>

        <div class="field-wrap my-2">
          <input class="form-control" type="password" id="password" name="password" placeholder="Password" [(ngModel)]="kunde.password" required #password="ngModel">
          
        </div>

        <div class="row my-2">
            <div class="form-group col-6">
            <input class="form-control" type="text" id="strasse" name="strasse" placeholder="Street" [(ngModel)]="kunde.strasse" required #strasse="ngModel">
            </div>
        
            <div class="form-group col-6">
                <input class="form-control" type="text" id="plz" name="plz" placeholder="Code Postal" [(ngModel)]="kunde.plz" required #plz="ngModel">
            </div>
        </div>

        <div class="row my-2">
            <div class="form-group col-12">
            <input class="form-control" type="text" id="ort" name="ort" placeholder="Ort" [(ngModel)]="kunde.ort" required #ort="ngModel">
            </div>
        </div>

        
  


        <button class="btn btn-secondary w-100 py-2 mb-4" type="submit" id="signuphover">Sign Up</button>
        <a routerLink="/login" routerLinkActive="active">Already have an account?</a>

      </form>
    </main>
    </div>
  </div>
  
  
  





 