
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: white;

}
#footer {
    background-color: #f8f9fa;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0px 0px;
    margin-top: 200px;
    
}
.restaurant-name {
    font-size: 1.25rem; /* Größer als Beschreibung */
    font-weight: bold;  /* Dickere Schrift */
    color: #343a40;     /* Dunkle Farbe */
  }
  
  .restaurant-description {
    font-size: 1rem;    /* Standardgröße für Beschreibung */
    color: #6c757d;     /* Grau für weniger Wichtigkeit */
  }
  
  .restaurant-hours {
    font-size: 0.9rem;  /* Etwas kleiner für Öffnungszeiten */
    color: #6c757d;     /* Gleiche Farbe wie Beschreibung */
    text-align: right;  /* Rechtsbündig */
  }
  
