<div class="all-content">

    <nav class="navbar bg-light" id="navbar">
        
        <div class="container-fluid">

          <a class="navbar-brand" href="#" id="logo">
            <img src="../../assets/Logo.png" alt="Logo" width="45" height="44" class="d-inline-block align-text-top">
            <span class="brand-text">Lieferpatz</span>
          </a>
      

          <ul class="nav justify-content-end" >
            
           
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active"  >
                <button  type="button" class="btn btn-light">
                    <img src="../../assets/icons8-login-32.png" alt="Logo" width="25" height="24" class="d-inline-block align-text-top">
                     <i class="bi bi-box-arrow-in-right"></i> Login
                    </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/signup" routerLinkActive="active">
                <button type="button" class="btn btn-light"> 
                    <img src="../../assets/icons8-user-30 (2).png" alt="Logo" width="25" height="24" class="d-inline-block align-text-top">
                    <i class="bi bi-person-plus"></i> Sign Up
                </button>
              </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/partner" routerLinkActive="active">
                  <button type="button" class="btn btn-light"> 
                      <img src="../../assets/icons8-company-50.png" alt="Logo" width="25" height="24" class="d-inline-block align-text-top">
                      <i class="bi bi-person-plus"></i> Join as a Partner
                  </button>
                </a>
              </li>

            
          </ul>
          
        </div>
        
      </nav>
    
<section id="home">
    
</section>

</div>



<div class="footer">
  <p>&copy; 2024 LieferSpatz. All Rights Reserved.</p>
  <div class="social-media">
      <a href="https://facebook.com" target="_blank">
          <img src="/assets/facebook-icon.png" alt="Facebook">
      </a>
      <a href="https://twitter.com" target="_blank">
          <img src="/assets/twitter-icon.png" alt="X">
      </a>
      <a href="https://instagram.com" target="_blank">
          <img src="/assets/instagram-icon.png" alt="Instagram">
      </a>
  </div>
</div>
